<h4>Recipe Name </h4>

<div class="row">
  <div class="col-12">
    <img class="img-fluid" src="https://kuchnialidla.pl/img/PL/960x540/dacc8d8afd9e-bf05e595c778-1250x700KW_05_DG_Pizza_21690_ok.jpg">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p>jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker</p>
  </div>
</div>

  <div class="col-4">
    <img src="">
  </div>
</div>
