<div class="row">
  <div class="col-sm-12">
      <form>
          <div class="form-row">
            <div class="col-10">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-2">
              <input type="number" class="form-control" placeholder="Amount">
            </div>
          </div>
        </form>
        <div class="btn btn-success" type="submit" style="margin-top: 0.5rem; margin-right: 0.5rem;">Add</div>
        <div class="btn btn-danger" type="button" style="margin-top: 0.5rem; margin-right: 0.5rem;">Remove</div>
        <div class="btn btn-primary" type="button" style="margin-top: 0.5rem; margin-right: 0.5rem;">Clear</div>
</div>


</div>
